

#navwrap .t3-megamenu {
  padding: 0;
}
#navwrap .t3-megamenu .mega-group-title {
  margin: 0;
  padding: 0;
}
#navwrap .t3-megamenu .mega-group-ct {
  padding: 4px;
  background: rgba(26,26,26,0.8);
  margin: 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #efefef;
}
#navwrap .t3-megamenu .level2 .mega-group-ct {
  padding: 0 !important;
  margin: 0;
  border: 0;
}
#navwrap .t3-megamenu .level2 .mega-group-ct li {
  padding: 4px 0;
}
#navwrap .t3-megamenu 1
		
		img {
  padding: 0;
}
.mega-caption {
  display: block;
  white-space: nowrap;
  font-size: 85%;
  font-style: italic;
  color: #999;
  margin-top: 3px;
  font-weight: normal;
}
.mega-caption.mega-caption-empty {
  max-height: 0;
}
#navwrap .grid_one,
#navwrap .grid_two,
#navwrap .grid_three,
#navwrap .grid_four,
#navwrap .grid_five,
#navwrap .grid_six,
#navwrap .grid_seven,
#navwrap .grid_eight,
#navwrap .grid_nine,
#navwrap .grid_ten,
#navwrap .grid_eleven,
#navwrap .grid_3,
#navwrap .grid_4,
#navwrap .grid_2,
#navwrap .grid_1,
#navwrap .grid_5,
#navwrap .grid_7,
#navwrap .grid_8,
#navwrap .grid_9,
#navwrap .grid_10,
#navwrap .grid_11,
#navwrap.zencenter .grid_one,
#navwrap.zencenter .grid_two,
#navwrap.zencenter .grid_three,
#navwrap.zencenter .grid_four,
#navwrap.zencenter .grid_five,
#navwrap.zencenter .grid_six,
#navwrap.zencenter .grid_seven,
#navwrap.zencenter .grid_eight,
#navwrap.zencenter .grid_nine,
#navwrap.zencenter .grid_ten,
#navwrap.zencenter .grid_eleven,
#navwrap.zencenter .grid_3,
#navwrap.zencenter .grid_4,
#navwrap.zencenter .grid_2,
#navwrap.zencenter .grid_1,
#navwrap.zencenter .grid_5,
#navwrap.zencenter .grid_7,
#navwrap.zencenter .grid_8,
#navwrap.zencenter .grid_9,
#navwrap.zencenter .grid_10,
#navwrap.zencenter .grid_11 {
  margin-right: 3.8%;
  float: left;
  position: relative;
  min-height: 1px;
}
#navwrap .grid_one,
#navwrap.zencenter .grid_one {
  width: 4.85% !important;
}
#navwrap .grid_11,
#navwrap.zencenter .grid_11 {
  width: 5.7% !important;
}
#navwrap .grid_10,
#navwrap.zencenter .grid_10 {
  width: 6.7% !important;
}
#navwrap .grid_9,
#navwrap.zencenter .grid_9 {
  width: 7.9% !important;
}
#navwrap .grid_8,
#navwrap.zencenter .grid_8 {
  width: 9.3% !important;
}
#navwrap .grid_7,
#navwrap.zencenter .grid_7 {
  width: 11.1% !important;
}
#navwrap .grid_two,
#navwrap.zencenter .grid_two {
  width: 13.45% !important;
}
#navwrap .grid_5,
#navwrap.zencenter .grid_5 {
  width: 17% !important;
}
#navwrap .grid_three,
#navwrap .grid_4,
#navwrap.zencenter .grid_three,
#navwrap.zencenter .grid_4 {
  width: 22.05% !important;
}
#navwrap .grid_four,
#navwrap .grid_3,
#navwrap.zencenter .grid_four,
#navwrap.zencenter .grid_3 {
  width: 30.75% !important;
}
#navwrap .grid_five,
#navwrap.zencenter .grid_five {
  width: 39.45% !important;
}
#navwrap .grid_six,
#navwrap .grid_2,
#navwrap.zencenter .grid_six,
#navwrap.zencenter .grid_2 {
  width: 48% !important;
}
#navwrap .grid_seven,
#navwrap.zencenter .grid_seven {
  width: 56.75% !important;
}
#navwrap .grid_eight,
#navwrap.zencenter .grid_eight {
  width: 65.4% !important;
}
#navwrap .grid_nine,
#navwrap.zencenter .grid_nine {
  width: 74.05% !important;
}
#navwrap .grid_ten,
#navwrap.zencenter .grid_ten {
  width: 82.7% !important;
}
#navwrap .grid_eleven,
#navwrap.zencenter .grid_eleven {
  width: 91.35% !important;
}
#navwrap .grid_twelve,
#navwrap grid_,
#navwrap .grid_1,
#navwrap.zencenter .grid_twelve,
#navwrap.zencenter grid_,
#navwrap.zencenter .grid_1 {
  width: 100%;
  float: left;
}
#navwrap .zenlast,
#navwrap .jblast,
#navwrap.zencenter .zenlast,
#navwrap.zencenter .jblast {
  float: right;
  margin: 0;
}

